body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:90px;
  width:790px;
  height:510px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:510px;
}
#u1 {
  position:absolute;
  left:2px;
  top:247px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:130px;
  width:210px;
  height:70px;
  font-family:'仿宋 Bold', '仿宋';
  font-weight:700;
  font-size:28px;
  color:#66CC33;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u3 {
  position:absolute;
  left:0px;
  top:19px;
  width:210px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:950px;
  top:140px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:500px;
  top:240px;
  width:120px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:570px;
  top:149px;
  width:120px;
  height:31px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:620px;
  top:240px;
  width:170px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:500px;
  top:280px;
  width:120px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:500px;
  top:320px;
  width:120px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:620px;
  top:280px;
  width:170px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:620px;
  top:320px;
  width:170px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:390px;
  top:384px;
  width:70px;
  height:26px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:570px;
  top:410px;
  width:120px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:570px;
  top:480px;
  width:120px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:830px;
  top:140px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:760px;
  top:520px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27 {
  position:absolute;
  left:920px;
  top:520px;
  width:100px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
